@charset "utf-8";

// Define defaults for each variable.

// $base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$code-font-family: "Consolas", monospace;
$base-font-family: "Roboto", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$dark_theme: true;

// White theme colour palette
$text-color:       #111111; //bbbbbb
$background-color: #fdfdfd; //rgb(30, 30, 30)
$brand-color:      #828282; // bbbbbb
$grey-color:       #828282; //rgb(133, 133, 120)
$grey-color-light: #828282; //#bbbbbb
$grey-color-dark:  #828282; //bbbbbb)
$hyperlink-color: #888888;
$site-title-color: #141618; //d2d5d8
$highlight-background-color: rgb(119, 16, 16); //fff
$highlight-rouge-background-color: $background-color; //eef

// Dark theme colour palette
@if $dark_theme {
  $text-color:       #bbbbbb;
  $background-color: rgb(30, 30, 30); 
  $brand-color:      #bbbbbb; 
  $grey-color:       rgb(133, 133, 120);
  $grey-color-light: #bbbbbb;
  $grey-color-dark:  #bbbbbb;
  $hyperlink-color: #888888;
  $site-title-color: #d2d5d8;
  $highlight-background-color: rgb(119, 16, 16); //fff
  $highlight-rouge-background-color: $background-color; //eef 
}



$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
