{% extends "base.html" %}
{% block content %}
{% block content_title %}
{% endblock %}


<header class="post-header">
<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

{# <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {{ page.date | date: date_format }}
    </time>
    {%- if page.author -%}
    • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}
</p> #}
</header>


<ul>
  {% for article in articles %}

    <li>
      <span class="dates_and_tags">{{article.date.strftime('%d %b %Y')}}</span>
      <a class="enum_title" href="{{ article.url }}"><b>{{ article.title }}</b></a>
      <br>
    </li>

  {% endfor %}
</ul>

{# Here we add the posts.md content, which is empty, but intentionally contributes a bit of empty space. #}
<div class="post-content e-content content" itemprop="articleBody">
  {{ page.content }}
</div>



{% endblock content %}
